.page-header {
	padding-top: 110px;
	padding-bottom: 15px;
	position: relative;
	background: url('../img/header-img.jpg') no-repeat;
	background-size: 1273px 467px;
	min-height: 330px;

	&__title {
		text-align: center;
		padding: 10px;
		margin-bottom: 90px;
	}

	&__main-nav {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		box-sizing: border-box;
	}

	&__info{
		.flex-type-1();

		p {
			height: 90px;
			width: 30%;
			padding-top: 70px;
			box-sizing: border-box;
			text-align: center;

			&:first-of-type {
				background: url('../img/1-ul.png') no-repeat;
				background-size: 59px 54px;
				background-position: 50% 0;
			}

			&:nth-of-type(2) {
				background: url('../img/2-ul-out.png') no-repeat;
				background-size: 175px 56px;
				background-position: 50% 0;				
			}

			&:last-of-type {
				background: url('../img/3-mobile.png') no-repeat;
				background-size: 49px 56px;
				background-position: 50% 0;
			}
		}
	}
}