.social-links {
	display: block;
	width: 400px;
	min-height: 100px;
	.ul-0();
	.flex-type-1();
	align-items: center;
	outline: 2px solid white;
	

	&__container {
		display: block;
		width: 110px;
		min-height: 45px;
		.li-0();
		border-radius: 50%;
		outline: 2px solid red;
		height: 85px;			
	}

}