.social-link {
	display: block;
	font-size: 0;
	

	

	.outlines();
	

	/*&--vk {	
		background: url("../img/spritesheet.png") no-repeat;	
		background-position: -7px -2px;
	}	

	&--in {
		background: url("../img/spritesheet.png") no-repeat;
		background-position: -101px -6px;
	}

	&--tw {
		background: url("../img/spritesheet.png") no-repeat;
		background-position: -55px -6px;
	}*/
}